<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DeviceRentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
INSERT INTO t_device_rent(company_name, link_man, card_num, tel, address, fax, rent_date, back_date, total_days, total_price, last_cost, pre_cost,create_user,serial_num,type)
        VALUES
        (#{companyName},#{linkMan},#{cardNum},#{tel},#{address},#{fax},#{rentDate},#{backDate},#{totalDays},#{totalPrice},#{lastCost},#{preCost},#{createUser},#{serialNum},#{type})
    </insert>
    <update id="updateCost">
        UPDATE t_device_rent set total_price = #{totalPrice},pre_cost=#{preCost},last_cost=#{lastCost} where id=#{id}
    </update>
    <update id="updateRent">
        UPDATE t_device_rent set state = #{state} where id = #{id}
    </update>
    <select id="findAllByContain" resultType="com.kaishengit.pojo.DeviceRent">
      SELECT * from t_device_rent where serial_num LIKE concat('%',#{date},'%')
    </select>
    <select id="findBySerialNum" resultType="com.kaishengit.pojo.DeviceRent">
        SELECT * from t_device_rent where serial_num = #{serialNum}
    </select>
    <select id="findDeviceRentById" resultType="com.kaishengit.pojo.DeviceRent">
        SELECT * from t_device_rent where id = #{id}
    </select>
    <select id="findAllDeviceRent" resultType="com.kaishengit.pojo.DeviceRent">
        SELECT * from t_device_rent
    </select>
    <select id="findAllDeviceRentBySearchParam" resultType="com.kaishengit.pojo.DeviceRent">
        SELECT * from t_device_rent where type=#{type} ORDER BY id DESC
        limit ${start},${length}
    </select>
    <select id="countDeviceRentByType" resultType="java.lang.Long">
        SELECT count(*) from t_device_rent where type =#{type}
    </select>
</mapper>