<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DeviceOutMapper">
    <cache/>
    <insert id="save">
        INSERT INTO t_device_out (serial_num,user_id,device_id,repaytime_plan,
        rent_company,company_address,company_tel,company_legal,
        legal_phone,legal_card,rent_money,advance_money,number,last_money,device_name,damage_price,miss_price)
        VALUES (#{serialNum},#{userId},#{deviceId},#{repaytimePlan},#{rentCompany},
        #{companyAddress},#{companyTel},#{companyLegal},#{legalPhone},#{legalCard},
        #{rentMoney},#{advanceMoney},#{number},#{lastMoney},#{deviceName},#{damagePrice},#{missPrice});
    </insert>
    <update id="update">
        UPDATE t_device_out SET repaytime_actual=#{repaytimeActual},state=#{state},dedit_money=#{deditMoney}
        where id= #{id}
    </update>
    <select id="findAllContain" resultType="com.kaishengit.pojo.DeviceOut">
          SELECT * from t_device_out where serial_num LIKE concat('%',#{date},'%')
    </select>
    <select id="findAll" resultType="com.kaishengit.pojo.DeviceOut">
        SELECT * FROM t_device_out
    </select>
    <select id="findById" resultType="com.kaishengit.pojo.DeviceOut">
        select * from t_device_out where id=#{id}
    </select>
</mapper>